src/test/resources/properties/config.properties
/target/
/test-output/
#/src/test/resources/logs/*
#/src/test/resources/Reports/*
.DS_Store
**/.DS_Store
/node
/node_modules
.settings/org.eclipse.m2e.core.prefs
./.m2
package-lock.json
